.items-define{
    display: flex;
    justify-content: center;
    /* max-width: 40%; */
    
}

.item-define{
    width:40%;
    display: inline-block;
    justify-content: space-between;
}

.phone-single-item{
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.pagination{
    justify-content: center;
}

